body {
  font-family: Helvetica, Arial;
  font-size: 1.3rem; /* make it biiiggg!!! */
}

header {}

main {
  margin: 5px 15px;
  padding-bottom: 25px
}

footer {
  background-color: rgba(0,0,0,0.3);
  padding: 25px;
}

#icon-credit {
  font-size: .35rem;
  color: rgba(124, 124, 124, 0.8);
}
