body {
  font-family: Helvetica, Arial;
  font-size: 1.3rem; /* make it biiiggg!!! */
}

header {
	background-color: rgba(96, 0, 0, 0.906);
	color: bisque;
	margin: 0 auto;
	padding: 10px 25px;
}

header a {
	border: 1px solid goldenrod;
	color: inherit;
	display: inline;
	margin: 7px;
	padding: 5px;
}

main {
  margin: 5px 15px;
  padding-bottom: 25px
}

footer {
  background-color: rgba(0,0,0,0.3);
  padding: 25px;
}

#icon-credit {
  color: rgba(124, 124, 124, 0.8);
  font-size: .35rem;
}
